adal==1.2.7
adlfs==2024.2.0
affine==2.4.0
aiobotocore==2.13.3
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.10.8
aiohttp-client-cache==0.13.0
aioitertools==0.11.0
aiosignal==1.3.1
aiosqlite==0.21.0
alembic==1.13.1
annotated-types==0.6.0
anyio==3.7.1
appdirs==1.4.4
arch==7.2.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
argopy==0.1.14
arrow==1.3.0
asciitree==0.3.3
astropy==6.0.1
astropy-iers-data==0.2024.4.1.0.33.14
asttokens==2.4.1
async-generator==1.10
async-lru==2.0.4
async-timeout==5.0.1
attrs==23.2.0
av==11.0.0
awscli==1.34.23
awscrt==0.19.19
azure-core==1.30.1
azure-datalake-store==0.0.51
azure-identity==1.15.0
azure-storage-blob==12.19.1
Babel==2.14.0
beautifulsoup4==4.12.3
black==24.3.0
bleach==6.1.0
blinker==1.9.0
blosc==1.10.6
blosc2==3.3.1
bokeh==3.4.0
boltons==24.0.0
boto3==1.34.51
botocore==1.34.162
Bottleneck==1.3.8
bounded-pool-executor==0.0.3
bqplot==0.12.43
branca==0.7.1
Brotli==1.1.0
cached-property==1.5.2
cachelib==0.9.0
cachetools==5.3.3
cachey==0.2.1
Cartopy==0.22.0
cdsapi==0.6.1
certifi==2025.1.31
certipy==0.1.3
cf_xarray==0.9.0
cffi==1.16.0
cfgrib==0.9.11.0
cftime==1.6.3
cgen==2020.1
charset-normalizer==3.3.2
ciso==0.2.0
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==3.0.0
cmocean==3.1.3
color-operations==0.1.6
colorama==0.4.6
colorcet==3.1.0
colorlog==6.9.0
colormap==1.3.0
colorspacious==1.1.2
comm==0.2.2
configobj==5.0.8
contourpy==1.3.2
cryptography==40.0.2
cycler==0.12.1
Cython==3.0.10
cytoolz==0.12.3
dask==2023.3.2
dask-expr==1.1.21
dask-gateway==2024.1.0
dask-geopandas==0.4.3
dask-glm==0.3.2
dask_labextension==7.0.0
dask-ml==2024.3.20
dataretrieval==1.0.11
datashader==0.16.0
debugpy==1.8.1
decorator==5.1.1
defusedxml==0.7.1
descartes==1.1.0
distributed==2023.3.2
distro==1.8.0
dnspython==2.7.0
docopt==0.6.2
docrep==0.3.2
docutils==0.16
donfig==0.8.1.post0
duckdb==1.1.3
earthaccess==0.9.0
earthengine-api==1.4.3
easydev==0.13.3
eccodes==1.7.0
eerepr==0.0.4
email_validator==2.2.0
entrypoints==0.4
eofs==0.0.0
erddapy==2.2.0
esmpy==8.6.0
exactextract==0.2.0
exceptiongroup==1.2.0
executing==2.0.1
fastapi==0.110.1
fasteners==0.17.3
fastjmd95==0.2.1
fastjsonschema==2.19.1
fastprogress==1.0.3
fimserve==0.1.73
findlibs==0.0.5
fiona==1.9.6
Flask==3.0.2
Flask-Caching==2.3.0
Flask-Cors==5.0.0
flask-restx==1.3.0
flox==0.9.6
folium==0.19.2
fonttools==4.51.0
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.3.1
future==1.0.0
gcm-filters==0.0.0
gcsfs==2024.3.1
GDAL==3.8.4
geemap==0.35.1
geocoder==1.38.1
geocube==0.5.1
geographiclib==2.0
geopandas==0.14.3
geopy==2.4.1
geoviews==1.12.0
gh-scoped-creds==4.1
gitdb==4.0.11
GitPython==3.1.43
google-api-core==2.18.0
google-api-python-client==2.155.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-cloud-bigquery==3.31.0
google-cloud-core==2.4.1
google-cloud-storage==2.16.0
google-crc32c==1.1.2
google-resumable-media==2.7.0
googleapis-common-protos==1.63.0
graphviz==0.20.3
greenlet==3.0.3
grpcio==1.71.0
grpcio-status==1.62.3
gsw==3.6.17
h11==0.14.0
h2==4.1.0
h3==3.7.7
h5netcdf==1.3.0
h5py==3.12.1
HeapDict==1.0.1
holoviews==1.18.3
hpack==4.0.0
hsclient==1.1.6
hsfiles_jupyter==0.1.0
hsmodels==1.0.4
httpcore==1.0.5
httplib2==0.22.0
httpx==0.25.2
hvplot==0.9.2
hydrotools==3.1.0
hydrotools.events==2.2.0
hydrotools.metrics==1.3.5
hydrotools.nwis_client==3.4.1
hydrotools.nwm_client==9.1.0
hydrotools._restclient==4.1.0
hydrotools.svi_client==1.1.0
hyperframe==6.0.1
idna==3.6
igraph==0.11.4
imagecodecs==2024.1.1
imageio==2.34.0
importlib_metadata==7.1.0
importlib_resources==6.4.0
iniconfig==2.0.0
intake==2.0.4
intake-esm==2023.11.10
intake-geopandas==0.4.0
intake-stac==0.4.0
intake-xarray==0.7.0
ipdb==0.13.13
ipyevents==2.0.2
ipyfilechooser==0.6.0
ipykernel==6.29.5
ipyleaflet==0.19.2
ipyspin==1.0.1
ipython==8.17.2
ipython-genutils==0.2.0
ipytree==0.2.2
ipyurl==0.1.2
ipywidgets==8.1.2
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.3
jmespath==1.0.1
joblib==1.3.2
json5==0.9.24
jsonpickle==3.0.2
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter==1.1.1
jupyter_client==8.6.1
jupyter-console==6.6.3
jupyter_core==5.7.2
jupyter-events==0.10.0
jupyter-leaflet==0.19.2
jupyter-lsp==2.2.4
jupyter-panel-proxy==0.1.0
jupyter-remote-desktop-proxy==3.0.2.dev0
jupyter-resource-usage==1.0.2
jupyter_server==2.13.0
jupyter-server-mathjax==0.2.6
jupyter_server_proxy==4.4.0
jupyter_server_terminals==0.5.3
jupyter_server_xarray_leaflet==0.2.3
jupyter-telemetry==0.1.0
jupyter-tree-download==1.0.1
jupyterhub==4.1.5
jupyterlab==4.3.3
jupyterlab_code_formatter==2.2.1
jupyterlab_git==0.50.0
jupyterlab_myst==2.3.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab-vim==4.1.4
jupyterlab_widgets==3.0.10
jwcrypto==1.5.6
kerchunk==0.2.4
kiwisolver==1.4.5
lazy_loader==0.4
line_profiler==4.2.0
linkify-it-py==2.0.3
llvmlite==0.43.0
localtileserver==0.10.5
locket==1.0.0
lxml==5.1.0
lz4==4.3.3
Mako==1.3.2
mapclassify==2.6.1
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.10.0
matplotlib-inline==0.1.6
mdit-py-plugins==0.4.0
mdurl==0.1.2
memory-profiler==0.61.0
mercantile==1.2.1
MetPy==1.6.2
mistune==3.0.2
morecantile==5.3.0
msal==1.28.0
msal-extensions==1.1.0
msgpack==1.0.7
multidict==6.0.5
multimethod==1.10
multipledispatch==0.6.0
munkres==1.1.4
mypy-extensions==1.0.0
narwhals==1.32.0
nb_black==1.0.5
nb_conda_kernels==2.3.1
nbclassic==1.2.0
nbclient==0.10.0
nbconvert==7.16.3
nbdime==4.0.1
nbfetch==0.6.3
nbformat==5.10.4
nbgitpuller==1.2.1
nbstripout==0.7.1
nc-time-axis==1.4.1
ndindex==1.9.2
nest_asyncio==1.6.0
netCDF4==1.7.2
networkx==3.2.1
ngiab_data_preprocess==4.2.2
nodejs-bin==18.4.0a4
noise==1.2.2
notebook==7.3.1
notebook_shim==0.2.4
numba==0.60.0
numbagg==0.8.1
numcodecs==0.12.1
numexpr==2.10.2
numpy==1.26.4
numpy-groupies==0.10.2
oauthlib==3.2.2
odc-geo==0.4.3
odc-stac==0.3.9
overrides==7.7.0
packaging==25.0
pamela==1.1.0
pandas==2.2.3
pandera==0.20.4
pandocfilters==1.5.0
panel==1.4.0
param==2.1.0
parcels==3.0.2
parso==0.8.4
partd==1.4.1
pathspec==0.12.1
patsy==0.5.6
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.3.0
Pint==0.23
pint-xarray==0.3
pip==24.0
pkgutil_resolve_name==1.3.10
planetary-computer==1.0.0
platformdirs==4.2.0
plotly==6.0.1
pluggy==1.4.0
pooch==1.8.1
pop-tools==2023.6.0
portalocker==2.8.2
pqdm==0.2.0
prometheus_client==0.20.0
prompt-toolkit==3.0.38
propcache==0.3.2
properscoring==0.1
proto-plus==1.23.0
protobuf==4.24.4
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==15.0.2
pyarrow-hotfix==0.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycairo==1.26.0
pycamhd==0.7.0
pycparser==2.22
pyct==0.4.6
pydantic==2.7.4
pydantic_core==2.18.4
pydap==3.3.0
pyerfa==2.0.1.2
Pygments==2.17.2
PyGObject==3.48.1
PyJWT==2.8.0
pykdtree==1.3.11
pymbolic==2022.2
pyOpenSSL==23.1.1
pyorbital==1.8.2
pyparsing==3.1.2
pyproj==3.6.1
pyresample==1.28.2
pyshp==2.3.1
PySocks==1.7.1
pyspectral==0.13.0
pystac==1.10.0
pystac-client==0.7.6
pytest==8.1.1
python-cmr==0.9.0
python-dateutil==2.8.2
python-dotenv==1.1.0
python-forge==18.6.0
python-geotiepoints==1.7.2
python-gist==0.10.6
python-gnupg==0.4.9
python-json-logger==2.0.7
pytools==2024.1.1
pytz==2024.1
pyu2f==0.1.5
pyviz_comms==3.0.1
PyWavelets==1.4.1
PyYAML==6.0.1
pyzmq==25.1.2
rasterio==1.3.9
rdflib==5.0.0
rechunker==0.5.2
redis==5.2.1
referencing==0.34.0
requests==2.32.2
requests-oauthlib==2.0.0
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rio-cogeo==5.3.0
rio-tiler==7.2.2
rioxarray==0.15.3
roaring-landmask==0.7.1
rpds-py==0.18.0
rsa==4.9
Rtree==1.2.0
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
s3fs==2024.3.1
s3transfer==0.10.1
satpy==0.47.0
scikit-image==0.22.0
scikit-learn==1.6.0
scipy==1.15.2
seaborn==0.13.2
Send2Trash==1.8.2
server-thread==0.2.0
setuptools==69.2.0
shapely==2.1.0
sidecar==0.7.0
simpervisor==1.0.0
six==1.16.0
smmap==5.0.0
snakeviz==2.2.0
sniffio==1.3.1
snuggs==1.4.7
sortedcontainers==2.4.0
soupsieve==2.5
sparse==0.15.1
spatialpandas==0.5.0
SQLAlchemy==2.0.29
stack-data==0.6.2
stackstac==0.5.0
starlette==0.37.2
statsmodels==0.14.4
tables==3.10.2
tblib==3.0.0
teehr==0.4.1
terminado==0.18.1
texttable==1.7.0
threadpoolctl==3.4.0
tifffile==2024.2.12
tiledb==0.26.0
timezonefinder==6.4.1
tinycss2==1.2.1
tinynetrc==1.3.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.1
tornado==6.4
tqdm==4.66.4
traitlets==5.14.2
traittypes==0.2.1
trajan==0.6.0
trollimage==1.23.1
trollsift==0.5.1
types-python-dateutil==2.9.0.20240316
typing_extensions==4.11.0
typing-utils==0.1.0
tzdata==2024.1
uc-micro-py==1.0.3
ujson==5.9.0
uri-template==1.3.0
url-normalize==2.2.0
urllib3==1.26.18
uvicorn==0.29.0
watermark==2.4.3
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
WebOb==1.8.7
websocket-client==1.7.0
websockify==0.13.0
Werkzeug==3.1.3
wheel==0.43.0
widgetsnbextension==4.0.10
wrapt==1.16.0
xarray==2024.2.0
xarray-datatree==0.0.14
xarray_leaflet==0.2.3
xarray-spatial==0.3.5
xarrayutils==2.0.0
xbatcher==0.3.0
xcape==0+untagged.48.g4a2d4a7.dirty
xclim==0.48.2
xesmf==0.8.4
xgboost==2.0.3
xgcm==0.8.1
xhistogram==0.3.2
xmip==0.7.2
xmitgcm==0.5.2
xpublish==0.3.3
xrft==0.0.0
xskillscore==0.0.26
xxhash==3.4.1
xyzservices==2024.4.0
yamale==5.0.0
yarl==1.20.1
zarr==2.17.1
zict==3.0.0
zipp==3.17.0
